@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  display: grid;
  height: 100vh;
  margin: 0;
  padding: 0;
  justify-items: center;
  align-items: center;
  background: #eff1f5;
  color: #333;
  font-family: "Open Sans", sans-serif;
}

.container {
  min-width: 50%;
  background: #e6e9ef;
  padding: 20px 40px;
  border-radius: 5px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header button {
  width: 100px;
  height: 30px;
}

td {
  border: 2px solid #333;
  padding: 10px 5px;
}

table {
  border: 2px solid #333;
  width: 100%;
  text-transform: capitalize;
}

input[type="submit"] {
  width: 100%;
}

#selection {
  display: grid;
  grid-template-areas:
    "text image"
    "text image"
    "text image"
    "text image"
    "text image";
  justify-content: space-between;
}

#selection img {
  grid-area: image;
}

.choice {
  display: block;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  align-items: center;
  justify-items: center;
  z-index: 100;
}

.fade-in {
  -webkit-animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
