[submodule "coen60-term-project"]
	path = coen60-term-project
	url = https://github.com/v3ceban/coen60-term-project
[submodule "Term"]
	path = Term
	url = https://github.com/v3ceban/coen60-term-project
