body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

svg {
  display: block;
  width: 40vw;
  min-height: 40vw;
  border: 1px solid black;
}

.buttons,
h1 {
  margin: 20px 0;
}
