main {
	height: 100vh;
}

footer {
	border: 5px green dotted;
	background: white;
}

h1,
table {
	border: 2px blue solid;
	padding: 5px;
	margin: 10px 0 0 0;
	background-color: #e8fbfb;
}

p {
	background: url("https://placekitten.com/100/100");
	text-shadow: 1px 1px black;
}

*:hover {
	background: yellow;
}

img {
	float: right;
}

table {
	clear: both;
}

ol {
	list-style: none;
	padding: 0;
}

body,
main,
html {
	background: white !important;
}
