$white: #eff1f5;
$black: #1e1e2e;
$accent-blue: #7287fd;
$accent-orange: #fe640b;
$cat-college: #f38ba8;
$cat-driving: #fab387;
$cat-homework: #f9e2af;
$cat-gaming: #74c7ec;
$cat-working: #f2cdcd;
$cat-sleeping: #a6e3a1;
$cat-family: #89b4fa;
