@import "resets.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
	font-family: "Roboto", "Inter", sans-serif;
}

header {
	height: 50vh;
	background-image: url(https://placekitten.com/1920/1080);
	background-position: center top;
	background-repeat: no-repeat;

	nav {
		height: 100%;
		width: 100%;
		background-color: rgba(0, 0, 0, 50%);
		display: flex;
		align-items: center;
		justify-content: space-around;

		img {
			border-radius: 50%;
		}

		h1 {
			display: inline;
			margin-left: 10px;
		}

		a {
			color: white;
			text-decoration: none;
			font-size: 2em;
			font-weight: 700;

			&:first-of-type {
				&:hover {
					h1 {
						color: peachpuff;
						transition: all 0.2s ease-in;
					}
				}
			}

			&.active {
				text-decoration: underline;
			}
		}

		ul {
			padding: 40px 0;
		}

		ul li {
			display: inline-block;

			&:hover {
				a {
					text-decoration: underline;
					color: peachpuff;
					transition: all 0.2s ease-in;
				}
			}

			&:first-of-type {
				margin-right: 50px;
			}
		}
	}
}

main.home {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
	justify-items: center;

	article {
		max-width: 300px;
	}
}

main {
	width: 90%;
	margin: auto;

	h2 {
		font-size: 1.8em;
		font-weight: 700;
		margin: 20px 0;
	}

	h3 {
		font-size: 1.5em;
		font-weight: 700;
		margin: 15px 0;
	}

	p {
		margin-top: 10px;
		line-height: 1.2em;
		font-size: 1em;
	}
}

footer {
	margin-top: 20px;
	padding: 10px 0;
	color: #fff;
	background: #000;
	text-align: center;
	font-style: italic;
}
